# kitty - vi navigator 需要
allow_remote_control yes
listen_on unix:@mykitty

# 解绑一些 kitty 快捷键, 避免和 tmux/vim 冲突
map ctrl+shift+h
map ctrl+shift+j
map ctrl+shift+k
map ctrl+shift+l

{{- /* nvim 路径探测*/ -}}
{{- $nvimExecutable := "nvim" -}}
{{- if lookPath "nvim" -}}
    {{- /* 如果系统 PATH 中已经能找到 nvim */ -}}
    {{- $nvimExecutable = lookPath "nvim" -}}
{{- else -}}
    {{- /* 否则检查 bob 的默认安装路径 */ -}}
    {{- $bobNvim := joinPath .chezmoi.homeDir ".local/share/bob/nvim-bin/nvim" -}}
    {{- if stat $bobNvim -}}
        {{- $nvimExecutable = $bobNvim -}}
    {{- end -}}
{{- end -}}

# vi copy mode
scrollback_pager sh -c 'NVIM_MODE="kitty-copy" {{ $nvimExecutable }} 63<&0 </dev/null -i NONE -c "au VimEnter * term cat /dev/fd/63 && sleep 100"'
map alt+q show_scrollback

# split window
map alt+shift+\\ launch --bias=50 --location=vsplit --cwd=current
map alt+\\ launch --bias=50 --location=hsplit --cwd=current

# window navigator
map alt+j kitten scripts/pass_keys.py bottom alt+j
map alt+k kitten scripts/pass_keys.py top    alt+k
map alt+h kitten scripts/pass_keys.py left   alt+h
map alt+l kitten scripts/pass_keys.py right  alt+l

# resize window
map alt+up resize_window taller 3
map alt+down resize_window shorter 3
map alt+home resize_window reset

# zoom toggle
# map alt+m kitten scripts/zoom_toggle.py
map alt+m layout_action bias 90

# tab operators
map alt+t new_tab
map alt+1 goto_tab 1
map alt+2 goto_tab 2
map alt+3 goto_tab 3
map alt+4 goto_tab 4
map alt+5 goto_tab 5

# include tmp-keymap.conf
