source ./themes/catppuccin_mocha.nu

# 补全匹配忽略大小写
$env.config.completions.case_sensitive = false

# 命令名补全使用前缀匹配，避免 git fuzzy 到 registry query
$env.config.completions.algorithm = "prefix"

{{- if and (ne .chezmoi.os "windows") (lookPath "atuin") }}
source ~/.local/share/atuin/hex-init.nu
{{- end }}

{{- if or (lookPath "atuin") (lookPath "tv") }}
source ~/.local/share/atuin/init.nu
{{- end }}

let vendor_autoload = ($nu.data-dir | path join "vendor" "autoload")
if not ($vendor_autoload | path exists) {
  mkdir $vendor_autoload
}

{{- if lookPath "starship" }}
starship init nu | save -f ($vendor_autoload | path join "starship.nu")
{{- else }}
if (($vendor_autoload | path join "starship.nu") | path exists) {
  rm -f ($vendor_autoload | path join "starship.nu")
}
{{- end }}

{{- if lookPath "zoxide" }}
zoxide init nushell --cmd cd | save -f ($vendor_autoload | path join "zoxide.nu")
{{- else }}
if (($vendor_autoload | path join "zoxide.nu") | path exists) {
  rm -f ($vendor_autoload | path join "zoxide.nu")
}
{{- end }}
{{- /* vim: set filetype=nu.chezmoitemplate: */}}
