{{- $hasStylua := lookPath "stylua" -}}

return {
  -- Lua 开发环境 (LazyDev)
  {
    "folke/lazydev.nvim",
    ft = "lua",
    opts = {
      library = {
        -- 加载 luvit 类型
        { path = "${3rd}/luv/library", words = { "vim%.uv" } },

        -- 预加载核心框架和常用插件
        "LazyVim",
        { path = "nvim-lspconfig", words = { "lspconfig" } },
        -- { path = "nvim-cmp", words = { "cmp" } },
        { path = "blink.cmp", words = { "blink" } },
      },
      -- 启用集成
      integrations = {
        lspconfig = true,
        cmp = false,
      },
    },
  },

  -- 如果使用 blink.cmp，把 lazydev source 接进来
  {
    "saghen/blink.cmp",
    optional = true,
    opts = function(_, opts)
      opts.sources = opts.sources or {}
      opts.sources.default = opts.sources.default or { "lazydev", "lsp", "path", "snippets", "buffer" }
      opts.sources.providers = opts.sources.providers or {}
      opts.sources.providers.lazydev = {
        name = "LazyDev",
        module = "lazydev.integrations.blink",
        score_offset = 100,
      }
    end,
  },

  -- 格式化配置 (Conform)
  {
    "stevearc/conform.nvim",
    opts = function(_, opts)
      opts.formatters_by_ft = opts.formatters_by_ft or {}
      {{- if $hasStylua }}
      -- 指定 lua 使用 stylua，优先使用系统里的 stylua
      opts.formatters_by_ft.lua = { "stylua" }
      {{- end }}
    end,
  },
}
