{{- $hasStylua := lookPath "stylua" -}}
{{- $hasTaplo := lookPath "taplo" -}}
{{- $hasTypstyle := lookPath "typstyle" -}}

return {
  {
    "stevearc/conform.nvim",
    optional = true,
    opts = function(_, opts)
      opts.formatters_by_ft = opts.formatters_by_ft or {}

      {{- if $hasStylua }}
      -- Lua: 优先使用系统里的 stylua
      opts.formatters_by_ft.lua = { "stylua" }
      {{- end }}

      {{- if $hasTaplo }}
      -- TOML: 只有在系统里存在 taplo 时才显式启用
      opts.formatters_by_ft.toml = { "taplo" }
      {{- end }}

      {{- if $hasTypstyle }}
      -- Typst: 只有在 typstyle 存在时才显式指定 formatter
      -- lsp_format = "prefer" 表示优先使用 typstyle，必要时仍允许走 LSP 侧的格式化能力
      opts.formatters_by_ft.typst = { "typstyle", lsp_format = "prefer" }
      {{- end }}
    end,
  },
}
{{/* vim: set ft=lua.chezmoitemplate: */}}
