{{ if .personal -}}
# -----------------------------------------------------------------
# 密钥与私有配置
# -----------------------------------------------------------------

{{ if .github_token -}}
let github_token_file = ($nu.default-config-dir | path join 'local' 'github-token.nuon')

if ($github_token_file | path exists) {
  load-env (open $github_token_file)
}
{{ end -}}

{{ end -}}
{{- /* vim: set filetype=nu.chezmoitemplate: */}}
