{{- $isWindows := eq .chezmoi.os "windows" -}}
{{- $hasNu := lookPath "nu" -}}
{{- $hasScoop := lookPath "scoop" -}}
{{- $hasUv := lookPath "uv" -}}

{{ if not .ephemeral }}

{{/* --- Linux 专用工具下载 --- */}}
{{- if eq .osid "linux-ubuntu" }}

{{/* Age 加密工具: 跨平台通用 */}}
[".local/bin/age"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "FiloSottile/age" (printf "age-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = "age/age"

[".local/bin/age-keygen"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "FiloSottile/age" (printf "age-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = "age/age-keygen"

{{/* 删除了 [".local/bin/nvim"] 的 AppImage 下载，改由 Bob 管理 */}}

{{- end }}

{{/* --- Zsh 环境与插件 (非 Windows 平台) --- */}}
{{- if not $isWindows }}
# zimfw
[".zim/zimfw.zsh"]
    type = "file"
        url = "https://github.com/zimfw/zimfw/releases/latest/download/zimfw.zsh"
        refreshPeriod = "168h"
{{- end }}

{{/* --- Nushell 来自 nushell/nu_scripts 的自定义补全 --- */}}
{{- if $hasNu -}}

[".config/nushell/custom-completions/bitwarden-cli/bitwarden-cli-completions.nu"]
type = "file"
url = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/bitwarden-cli/bitwarden-cli-completions.nu"
refreshPeriod = "168h"

{{-   if $hasScoop }}
[".config/nushell/custom-completions/scoop/scoop-completions.nu"]
type = "file"
url = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/scoop/scoop-completions.nu"
refreshPeriod = "168h"
{{-   end }}

{{-   if $hasUv }}
[".config/nushell/custom-completions/uv/uv-completions.nu"]
type = "file"
url = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/uv/uv-completions.nu"
refreshPeriod = "168h"
{{-   end }}

{{- end }}

{{- end -}}
{{- /* vim: set filetype=toml.chezmoitmpl: */}}
