{{ if not .ephemeral }}

{{/* --- Linux 专用工具下载 --- */}}
{{- if eq .osid "linux-ubuntu" }}

{{/* Age 加密工具: 跨平台通用 */}}
[".local/bin/age"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "FiloSottile/age" (printf "age-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = "age/age"

[".local/bin/age-keygen"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "FiloSottile/age" (printf "age-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = "age/age-keygen"

{{/* 删除了 [".local/bin/nvim"] 的 AppImage 下载，改由 Bob 管理 */}}

{{- end }}

{{/* --- Zsh 环境与插件 (非 Windows 平台) --- */}}
{{- if ne .chezmoi.os "windows" -}}
# zimfw
[".zim/zimfw.zsh"]
    type = "file"
        url = "https://github.com/zimfw/zimfw/releases/latest/download/zimfw.zsh"
        refreshPeriod = "168h"
{{- end }}

{{- end -}}
{{- /* vim: set filetype=toml.chezmoitemplate: */}}
