!.oh-my-zsh/plugins
{{ range .zshPlugins }}
!.oh-my-zsh/plugins/{{ . }}
!.oh-my-zsh/plugins/{{ . }}/**
{{- end }}
.oh-my-zsh/cache/**
.oh-my-zsh/plugins/**
.oh-my-zsh/templates/**
.oh-my-zsh/custom/themes/powerlevel10k/**/*.zwc

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.config/aerospace
.config/homebrew
.hammerspoon
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.config/niri/**
.config/gtk-3.0
.config/gtk-4.0
.config/fcitx5
.chezmoiscripts/linux/**
.hushlogin
.local/bin/nvim/**
.local/share/fonts
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
Documents
.config/nvim/lua/plugins/preview/smear-cursor.lua
.config/tacky-borders
.config/wezterm
.glzr/**
.local/share/fcitx5/rime/lua/simplehttp.dll
{{ else }}
.bash_aliases
.config/ghostty
.config/git/cookies
.config/psql
.config/readline
.config/tmux
.gnupg
.gnupg/**
.inputrc
.oh-my-zsh
.oh-my-zsh/**
.p10k.zsh
.ssh/id_rsa
.ssh/id_rsa.pub
.tmux.conf
.zprofile
.zshrc
{{ end }}

{{- if eq .chezmoi.os "windows" }}
{{-   range .scoop.apps }}
{{-     if hasKey . "ignore_path" }}
{{ .ignore_path }}
{{-     end }}
{{-   end }}
.config/nvim/lua/plugins/preview/mdmath.lua
.config/kitty
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
.local/share/fcitx5
{{- end }}

{{ if not .personal }}
.config/ghostty
.config/ghostty/**
.config/psql
.config/psql/**
.hammerspoon
.hammerspoon/**
.pypirc
.psqlrc
.ssh
.ssh/**
{{ end }}
