# oh-my-zsh
.oh-my-zsh/**
!.oh-my-zsh/plugins/**
{{- range .zshPlugins }}
!.oh-my-zsh/custom/plugins/{{ . }}/**
{{- end }}
!.oh-my-zsh/custom/themes/powerlevel10k/**

# non-darwin / darwin
{{- if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.chezmoidata/darwin/**
.config/aerospace/**
.config/homebrew/**
.hammerspoon/**
{{- else }}
.local/share/fcitx5/**
{{ end }}

# non-linux
{{- if ne .chezmoi.os "linux" }}
.config/niri/**
.config/xremap/**
.config/gtk-3.0/**
.config/gtk-4.0/**
.config/fcitx5/**
.chezmoiscripts/linux/**
.chezmoidata/linux/**
.hushlogin
.local/bin/nvim/**
.local/share/fonts/**
{{- end }}

# non-windows / windows
{{- if ne .chezmoi.os "windows" }}
AppData/**
.chezmoiscripts/windows/**
.chezmoidata/windows/**
Documents/**
.config/nvim/lua/plugins/preview/smear-cursor.lua
.config/tacky-borders/**
.config/wezterm/**
.config/nushell/**
.config/intelli-shell/**
.local/share/atuin/**
.glzr/**
.local/share/fcitx5/rime/lua/simplehttp.dll
{{- else }}
{{-   range .scoop.apps }}
{{-     if hasKey . "ignore_path" }}
{{ .ignore_path }}
{{-     end }}
{{-   end }}
.bash_aliases
.config/ghostty/**
.config/kitty/**
.config/nvim/lua/plugins/preview/mdmath.lua
.config/git/cookies
.config/psql/**
.config/readline/**
.config/tmux/**
.config/zsh/**
.cache/zsh/**
.local/state/zsh/**
.gnupg/**
.inputrc
.oh-my-zsh/**
.p10k.zsh
.tmux.conf
.zshenv
{{ end }}

# non-personal
{{- if not .personal }}
.config/ghostty/**
.config/psql/**
.hammerspoon/**
.pypirc
.psqlrc
.ssh/**
{{- end }}
{{- /* vim: set filetype=gitignore.chezmoitemplate: */}}
