{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}

{{/* --- 自动检测环境 --- */}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* 检测容器、CI 环境等 */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{/* --- 个性化设置 --- */}}

{{/* 获取主机名，用于区分具体机器 */}}
{{- $hostname := .chezmoi.hostname -}}

{{/* 如果不是已知的临时环境，询问用户或者是默认值 */}}
{{- if not $ephemeral -}}
    {{- if has $hostname (list "Mashiro" "mashiro" "archlinux") -}}
        {{- $personal = true -}}
    {{- else if eq $hostname "Your-Work-PC" -}}
        {{- $work = true -}}
    {{- else if stdinIsATTY -}}
        {{/* 如果是第一次运行且未知机器，交互式询问 */}}
        {{- $headless = promptBoolOnce . "headless" "Is this a headless machine" -}}
        {{- $ephemeral = promptBoolOnce . "ephemeral" "Is this an ephemeral machine" -}}
    {{- else -}}
        {{- $ephemeral = true -}}
        {{- $headless = true -}}
    {{- end -}}
{{- end -}}

{{/* --- 变量初始化 (if 之前) --- */}}

{{/* --- email --- */}}
{{- $email := "" -}}
{{- $omail := "" -}}
{{- $gmail := "" -}}
{{- $qmail := "" -}}

{{/* --- password --- */}}
{{- $kp_password := "" -}}
{{- $wd_password := "" -}}
{{- $gm_password := "" -}}
{{- $bw_password := "" -}}
{{- $et_password := "" -}}
{{- $cb_password := "" -}}
{{- $tg_password := "" -}}

{{/* --- apikeys --- */}}
{{- $weather_apikey := "" -}}

{{/* --- github token --- */}}
{{- $github_token := (env "CHEZMOI_GITHUB_ACCESS_TOKEN") -}}
{{- if and (not $github_token) (env "BW_SESSION") -}}
    {{- $github_token = (bitwarden "item" "GitHubApiToken").login.password -}}
{{- end -}}

{{/* --- other --- */}}
{{- $mihomo_secret := "" -}}
{{- $airport_sub := "" -}}

{{- $isWsl := and (eq .chezmoi.os "linux") (contains "microsoft" (lower .chezmoi.kernel.osrelease)) -}}

{{/* --- location --- */}}
{{- $location := "Beijing, China" -}}

{{- if and $personal (eq .chezmoi.os "windows") -}}
  {{- $psCommand := "$l='Beijing, China'; try { $r = Invoke-RestMethod 'http://myip.ipip.net' -TimeoutSec 10; $c = (-split $r)[4]; if($c) { $tr = Invoke-RestMethod \"https://api.mymemory.translated.net/get?q=$c&langpair=zh|en\" -TimeoutSec 10; $e = $tr.responseData.translatedText.Replace(' City',''); if($e){ $l = \"$e, China\" } } } catch {}; $l" -}}

  {{- $location = output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" $psCommand | trim -}}
{{- end -}}

{{- if and $personal (env "BW_SESSION") -}}
    {{- $outlookItem := bitwarden "item" "outlook" -}}
    {{- $gmailItem := bitwarden "item" "googlemail" -}}
    {{- $qmailItem := bitwarden "item" "qq" -}}

    {{- $kpItem := bitwarden "item" "keepassxc" -}}
    {{- $wdItem := bitwarden "item" "windowshellopin" -}}
    {{- $bwItem := bitwarden "item" "bitwarden" -}}
    {{- $etItem := bitwarden "item" "enteauth" -}}
    {{- $cbItem := bitwarden "item" "codeberg" -}}
    {{- $tgItem := bitwarden "item" "tangled" -}}

    {{- $weatherItem := bitwarden "item" "weather" -}}

    {{- $mhItem := bitwarden "item" "mihomo-secret" -}}
    {{- $asItem := bitwarden "item" "airport-sub" -}}

    {{- $email = $outlookItem.login.username -}}
    {{- $omail = $outlookItem.login.username -}}
    {{- $gmail = $gmailItem.login.username -}}
    {{- $qmail = $qmailItem.login.username -}}

    {{- $gm_password = $gmailItem.login.password -}}
    {{- $kp_password = $kpItem.login.password -}}
    {{- $wd_password = $wdItem.login.password -}}
    {{- $bw_password = $bwItem.login.password -}}
    {{- $et_password = $etItem.login.password -}}
    {{- $cb_password = $cbItem.login.password -}}
    {{- $tg_password = $tgItem.login.password -}}

    {{- $weather_apikey = $weatherItem.login.password -}}

    {{- $mihomo_secret = $mhItem.login.password -}}
    {{- $airport_sub = $asItem.login.password -}}
{{- end -}}
{{- if $work -}}
{{-   $email = "work@example.com" -}}
{{- end -}}

[data]
    ephemeral = {{ $ephemeral }}
    email = {{ $email | quote }}
    work = {{ $work }}
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    osid = {{ $osID | quote }}

    {{/* --- account --- */}}
    omail = {{ $omail | quote }}
    gmail = {{ $gmail | quote }}
    qmail = {{ $qmail | quote }}

    {{/* --- password --- */}}
    kp_password = {{ $kp_password | quote }}
    wd_password = {{ $wd_password | quote }}
    gm_password = {{ $gm_password | quote }}
    bw_password = {{ $bw_password | quote }}
    et_password = {{ $et_password | quote }}
    cb_password = {{ $cb_password | quote }}
    tg_password = {{ $tg_password | quote }}

    {{/* --- apikeys --- */}}
    weather_apikey = {{ $weather_apikey | quote }}

    {{/* --- location --- */}}
    location = {{ $location | quote }}

    {{/* --- other --- */}}
    mihomo_secret = {{ $mihomo_secret | quote }}
    airport_sub = {{ $airport_sub | quote }}

    isWsl = {{ $isWsl }}

    {{/* --- git 配置 --- */}}
    name = "prettycation"
    git_signing_key = ""
    git_gpg_format = ""
    git_commit_gpgsign = false
    git_allowed_signers_file = ""
    github_token = {{ $github_token | quote }}

    {{/* Linux ZSH 插件 */}}
    zshPlugins = [
        "zsh-syntax-highlighting",
        "zsh-autosuggestions",
        "fzf-tab",
        "zsh-vi-mode",
        "zsh-readline",
    ]

[bitwarden]
{{- if lookPath "rbw" }}
    command = "rbw"
{{- else }}
    unlock = "auto"
{{- end }}

[env]
{{- if and $personal $github_token }}
    GITHUB_TOKEN = {{ $github_token | quote }}
{{- end }}

{{/* Docker/Podman 检测 */}}
{{- if lookPath "podman" }}
[docker]
    command = "podman"
{{- end }}

[github]
    refreshPeriod = "12h"

{{- if lookPath "meld" }}
[merge]
    command = "meld"
    args = [
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
{{- else if lookPath "nvim" }}
[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
{{- end }}
{{- /* vim: set filetype=toml.chezmoitemplate: */}}
