[user]
    name  = {{ .name | quote }}
    email = {{ .email | quote }}
{{- if .git_signing_key }}
    signingkey = {{ .git_signing_key | quote }}
{{- end }}

{{- if .git_gpg_format }}
[gpg]
    format = {{ .git_gpg_format | quote }}
{{- end }}

{{- if .git_commit_gpgsign }}
[commit]
    gpgsign = true
{{- end }}

{{- if .git_allowed_signers_file }}
[gpg "ssh"]
    allowedSignersFile = {{ .git_allowed_signers_file | quote }}
{{- end }}

[core]
    autocrlf  = {{ if eq .chezmoi.os "windows" }}true{{ else }}input{{ end }}
    longpaths = true
    editor    = nvim
    quotepath = false

[init]
    defaultBranch = main

[push]
    default       = current
    autoSetupRemote = true

[pull]
    rebase = false

[fetch]
    prune = true

[merge]
    conflictstyle = zdiff3

[mergetool]
    keepBackup = false

[diff]
    algorithm     = histogram
    colorMoved    = default

[rebase]
    autosquash = true
    autostash  = true

[rerere]
    enabled = true

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

[color]
    ui = auto

[url "git@github.com:"]
    insteadOf = https://github.com/
