{
  "MaxResult": 100,
  "QuickAccessLinks": [],
  "IndexSearchExcludedSubdirectoryPaths": [],
  "EditorPath": "",
  "FolderEditorPath": "",
  "ShellPath": "cmd",
  "ExcludedFileTypes": "",
  "UseLocationAsWorkingDir": false,
  "ShowInlinedWindowsContextMenu": false,
  "WindowsContextMenuIncludedItems": "",
  "WindowsContextMenuExcludedItems": "",
  "DefaultOpenFolderInFileManager": false,
  "DisplayMoreInformationInToolTip": false,
  "SearchActionKeyword": "*",
  "SearchActionKeywordEnabled": true,
  "FileContentSearchActionKeyword": "doc",
  "FileContentSearchKeywordEnabled": true,
  "PathSearchActionKeyword": "*",
  "PathSearchKeywordEnabled": false,
  "IndexSearchActionKeyword": "*",
  "IndexSearchKeywordEnabled": false,
  "QuickAccessActionKeyword": "*",
  "QuickAccessKeywordEnabled": false,
  "FolderSearchActionKeyword": "dir",
  "FolderSearchKeywordEnabled": true,
  "FileSearchActionKeyword": "*",
  "FileSearchKeywordEnabled": false,
  "WarnWindowsSearchServiceOff": true,
  "ShowFileSizeInPreviewPanel": true,
  "ShowCreatedDateInPreviewPanel": true,
  "ShowModifiedDateInPreviewPanel": true,
  "ShowFileAgeInPreviewPanel": false,
  "PreviewPanelDateFormat": "yyyy-MM-dd",
  "PreviewPanelTimeFormat": "HH:mm",
  "IndexSearchEngine": 1,
  "PathEnumerationEngine": 1,
  "ContentSearchEngine": 1,
  "EverythingInstalledPath": "%Scoop%\\apps\\voidtools.Everything\\current\\app\\Everything.exe",
  "SortOption": 1,
  "EnableEverythingContentSearch": false,
  "EverythingEnabled": true,
  "EverythingSearchFullPath": false,
  "EverythingEnableRunCount": true
}