{{ if .personal -}}
# -----------------------------------------------------------------
# 密钥与私有配置
# -----------------------------------------------------------------

# 从本地私有文件加载敏感信息
{{   if .github_token -}}
$GitHubTokenLocalPath = Join-Path $PSScriptRoot 'local\github-token.ps1'
if (Test-Path -LiteralPath $GitHubTokenLocalPath) {
    . $GitHubTokenLocalPath
}
{{   end -}}
{{ end -}}
{{/* vim: set filetype=ps1.chezmoitemplate: */}}
