{{- $hasemmylua_ls := lookPath "emmylua_ls" -}}

{{- if $hasemmylua_ls }}
return {
  -- EmmyLua 分支：使用独立 LuaCATS/luv 类型库替代 lua-language-server 的 ${3rd}/luv/library。
  {
    "LuaCATS/luv",
    name = "luacats-luv",
    lazy = true,
  },

  -- Lua 开发环境
  {
    "folke/lazydev.nvim",
    optional = true,
    opts = function(_, opts)
      opts.library = opts.library or {}

      -- 移除 LazyVim 默认的 lua-language-server ${3rd}/luv/library。
      opts.library = vim.tbl_filter(function(lib)
        return not (type(lib) == "table" and lib.path == "${3rd}/luv/library")
      end, opts.library)

      -- 使用 EmmyLua 兼容的 luv 类型库。
      table.insert(opts.library, 1, { path = "luacats-luv/library", words = { "vim%.uv" } })
    end,
  },
}
{{- end }}
{{/* vim: set ft=lua.chezmoitmpl: */}}
