{{- $hasStylua := lookPath "stylua" -}}

return {
  -- Lua 开发环境 (LazyDev)
  {
    "folke/lazydev.nvim",
    ft = "lua",
    opts = {
      library = {
        -- 加载 luvit 类型
        { path = "${3rd}/luv/library", words = { "vim%.uv" } },

        -- 预加载核心框架和常用插件
        "LazyVim",
        { path = "nvim-lspconfig", words = { "lspconfig" } },
        -- { path = "nvim-cmp", words = { "cmp" } },
        { path = "blink.cmp", words = { "blink" } },
      },
      -- 启用集成
      integrations = {
        lspconfig = true,
        cmp = false,
      },
    },
  },

}
