{{- $hasTinymist := lookPath "tinymist" -}}
{{- $hasWebsocat := lookPath "websocat" -}}

{{- if or $hasTinymist $hasWebsocat }}
return {
  {
    "chomosuke/typst-preview.nvim",
    optional = true,
    opts = function(_, opts)
      opts.dependencies_bin = opts.dependencies_bin or {}

      {{- if $hasTinymist }}
      -- 显式告诉 typst-preview 使用系统里的 tinymist。
      opts.dependencies_bin.tinymist = "tinymist"
      {{- end }}

      {{- if $hasWebsocat }}
      -- 如果系统里已经有 websocat，也直接复用系统版本。
      opts.dependencies_bin.websocat = "websocat"
      {{- end }}
    end,
  },
}
{{- end }}
{{/* vim: set ft=lua.chezmoitemplate: */}}
