# chezmoi:template:left-delimiter="{{", right-delimiter="}}"
{{- if eq .chezmoi.os "windows" }}
filter_exec: ".*(WindowsTerminal|wezterm-gui)\\.exe$"
{{- else if eq .chezmoi.os "linux" }}
filter_exec: ".*(kitty|wezterm-gui|alacritty|gnome-terminal|konsole)$"
{{- else if eq .chezmoi.os "darwin" }}
filter_exec: ".*(Kitty|WezTerm|iTerm2|Terminal)$"
{{- end }}
paste_shortcut: CTRL+SHIFT+V

extra_includes:
  {{- if lookPath "scoop" }}
  - "../match/_scoop.yml"
  {{- end }}
  {{- if lookPath "paru" }}
  - "../match/_paru.yml"
  {{- end }}
  {{- if lookPath "brew" }}
  - "../match/_brew.yml"
  {{- end }}
  - "../match/_cargo.yml"
  - "../match/_bitwarden.yml"
  - "../match/_chezmoi.yml"
  - "../match/_ya.yml"
