matches:
  {{- if .gmail }}
  # gmail
  - trigger: "a.gm"
    replace: {{ .gmail | quote  }}
  {{- end }}

  {{- if .email }}
  # outlook
  - trigger: "a.ot"
    replace: {{ .email | quote  }}
  {{- end }}

  {{- if .qmail }}
  # qq
  - trigger: "a.qq"
    replace: {{ .qmail | quote  }}
  {{- end }}
