# espanso 匹配文件

# 想要了解完整介绍，请访问官方文档：https://espanso.org/docs/

# 您可以使用此文件来定义基础的匹配规则（又名：代码片段）
# 这些规则在使用 espanso 时适用于所有应用程序。

# 匹配是指替换规则：当您输入“触发词”字符串时，
# 它会被“替换为”的字符串所替代。

# 还有更多功能！想了解更多信息，请访问文档：https://espanso.org/docs/
yaml-language-server: $schema=https://raw.githubusercontent.com/espanso/espanso/dev/schemas/match.schema.json

matches:

  # nvim
  - trigger: "n.hs"
    {{- if ne .chezmoi.os "windows" }}
    replace: "nvim ~/.zsh_history"
    {{- else }}
    replace: "nvim (Get-PSReadLineOption).HistorySavePath"
    {{- end }}
