# chezmoi:template:left-delimiter="[[", right-delimiter="]]"
matches:
  # KeePass
  - trigger: "p.kp"
    replace: [[(bitwarden "item" "keepassxc").login.password | quote]]

  # Windows hello pin
  - trigger: "p.wd"
    replace: [[(bitwarden "item" "windowshellopin").login.password | quote]]

  # gmail
  - trigger: "p.gm"
    replace: [[(bitwarden "item" "gmail").login.password | quote]]

  # Bitwarden
  - trigger: "p.bw"
    replace: [[(bitwarden "item" "bitwarden").login.password | quote]]
