matches:
  {{- if (hasKey . "kp_password") }}
  {{-   if .kp_password }}
  # KeePass
  - trigger: "p.kp"
    replace: {{ .kp_password | quote }}
  {{-   end }}
  {{- end }}

  {{- if (hasKey . "wd_password") }}
  {{-   if .wd_password }}
  # Windows hello pin
  - trigger: "p.wd"
    replace: {{ .wd_password | quote }}
  {{-   end }}
  {{- end}}

  {{- if (hasKey . "gm_password") }}
  {{-   if .gm_password }}
  # gmail
  - trigger: "p.gm"
    replace: {{ .gm_password | quote }}
  {{-   end }}
  {{- end }}

  {{- if (hasKey . "bw_password") }}
  {{-   if .bw_password }}
  # Bitwarden
  - trigger: "p.bw"
    replace: {{ .bw_password | quote }}
  {{-   end }}
  {{- end }}
