{
  "MaxResult": 0,
  "UseAliases": true,
  "UseFilesExtension": false,
  "AddCheckBoxesToContext": true,
  "AddGlobalFolderExcludeToContext": true,
  "AddLocalFolderExcludeToContext": false,
  "AddCreateNoteOptionOnAllSearch": true,
  "GlobalVaultSetting": {
    "OpenInNewTabByDefault": false,
    "SearchMarkdown": true,
    "SearchCanvas": true,
    "SearchImages": false,
    "SearchExcalidraw": true,
    "SearchOther": false,
    "SearchContent": false,
    "ExcludedPaths": [
      ".trash",
      ".obsidian"
    ]
  },
  "VaultsSetting": {
    "5e4eb5cdcf8a72ba": {
      "UseGlobalSetting": true,
      "UseGlobalExcludedPaths": true,
      "OpenInNewTabByDefault": false,
      "SearchMarkdown": true,
      "SearchCanvas": true,
      "SearchImages": false,
      "SearchExcalidraw": true,
      "SearchOther": false,
      "SearchContent": false,
      "ExcludedPaths": [
        ".trash",
        ".obsidian"
      ]
    },
    "74fd9b91f9cf23d4": {
      "UseGlobalSetting": true,
      "UseGlobalExcludedPaths": true,
      "OpenInNewTabByDefault": false,
      "SearchMarkdown": true,
      "SearchCanvas": true,
      "SearchImages": false,
      "SearchExcalidraw": true,
      "SearchOther": false,
      "SearchContent": false,
      "ExcludedPaths": [
        ".trash",
        ".obsidian"
      ]
    },
    "cb27b114748bda80": {
      "UseGlobalSetting": true,
      "UseGlobalExcludedPaths": true,
      "OpenInNewTabByDefault": false,
      "SearchMarkdown": true,
      "SearchCanvas": true,
      "SearchImages": false,
      "SearchExcalidraw": true,
      "SearchOther": false,
      "SearchContent": false,
      "ExcludedPaths": [
        ".trash",
        ".obsidian"
      ]
    },
    "f87caf42d0d91409": {
      "UseGlobalSetting": true,
      "UseGlobalExcludedPaths": true,
      "OpenInNewTabByDefault": false,
      "SearchMarkdown": true,
      "SearchCanvas": true,
      "SearchImages": false,
      "SearchExcalidraw": true,
      "SearchOther": false,
      "SearchContent": false,
      "ExcludedPaths": [
        ".trash",
        ".obsidian"
      ]
    },
    "61d6692798a758c4": {
      "UseGlobalSetting": true,
      "UseGlobalExcludedPaths": true,
      "OpenInNewTabByDefault": false,
      "SearchMarkdown": true,
      "SearchCanvas": true,
      "SearchImages": false,
      "SearchExcalidraw": true,
      "SearchOther": false,
      "SearchContent": false,
      "ExcludedPaths": [
        ".trash",
        ".obsidian"
      ]
    },
    "9d9673f21d2e4287": {
      "UseGlobalSetting": true,
      "UseGlobalExcludedPaths": true,
      "OpenInNewTabByDefault": false,
      "SearchMarkdown": true,
      "SearchCanvas": true,
      "SearchImages": false,
      "SearchExcalidraw": true,
      "SearchOther": false,
      "SearchContent": false,
      "ExcludedPaths": [
        ".trash",
        ".obsidian"
      ]
    }
  }
}