{{ if .personal -}}
# -----------------------------------------------------------------
# 密钥与私有配置 (基于 .personal 变量)
# -----------------------------------------------------------------

# 只有在个人设备上时才加载这些 Token
{{ if .github_token -}}
export GITHUB_ACCESS_TOKEN={{ .github_token | quote }}
export CHEZMOI_GITHUB_ACCESS_TOKEN={{ .github_token | quote }}
export GITHUB_TOKEN={{ .github_token | quote }}
{{ end -}}
{{ end -}}
{{- /* vim: set filetype=zsh: */}}
