$Catppuccin = @{
    Rosewater = '{{ .catppuccin.rosewater }}'
    Flamingo  = '{{ .catppuccin.flamingo }}'
    Pink      = '{{ .catppuccin.pink }}'
    Mauve     = '{{ .catppuccin.mauve }}'
    Red       = '{{ .catppuccin.red }}'
    Maroon    = '{{ .catppuccin.maroon }}'
    Peach     = '{{ .catppuccin.peach }}'
    Yellow    = '{{ .catppuccin.yellow }}'
    Green     = '{{ .catppuccin.green }}'
    Teal      = '{{ .catppuccin.teal }}'
    Sky       = '{{ .catppuccin.sky }}'
    Sapphire  = '{{ .catppuccin.sapphire }}'
    Blue      = '{{ .catppuccin.blue }}'
    Lavender  = '{{ .catppuccin.lavender }}'
    Text      = '{{ .catppuccin.text }}'
    Subtext1  = '{{ .catppuccin.subtext1 }}'
    Subtext0  = '{{ .catppuccin.subtext0 }}'
    Overlay2  = '{{ .catppuccin.overlay2 }}'
    Overlay1  = '{{ .catppuccin.overlay1 }}'
    Overlay0  = '{{ .catppuccin.overlay0 }}'
    Surface2  = '{{ .catppuccin.surface2 }}'
    Surface1  = '{{ .catppuccin.surface1 }}'
    Surface0  = '{{ .catppuccin.surface0 }}'
    Base      = '{{ .catppuccin.base }}'
    Mantle    = '{{ .catppuccin.mantle }}'
    Crust     = '{{ .catppuccin.crust }}'
}
{{/* vim: set filetype=ps1.chezmoitemplate: */}}
