return {
  {
    "folke/which-key.nvim",
    optional = true,
    opts = function(_, opts)
      opts.spec = opts.spec or {}

      {{ if lookPath "opencode"}}
      -- AI
      table.insert(opts.spec, { "<leader>a", group = "ai" })
      {{ end }}

      -- Translate
      table.insert(opts.spec, { "<leader>t", group = "translate", icon = "󰗊" })

      -- Runner
      table.insert(opts.spec, { "<leader>r", group = "run", icon = " " })

      -- Multiple cursor
      table.insert(opts.spec, { "<leader>m", group = "multiple-cursor", icon = "󰆿" })
    end,
  },
}
{{/* vim: set ft=lua.chezmoitmpl: */}}
