{{- $isWindows := eq .chezmoi.os "windows" -}}

{{- $nu := "" -}}
{{- $pwsh := "" -}}
{{- $powershell := "" -}}
{{- $cmd := "" -}}
{{- $gitBash := "" -}}
{{- $gitSh := "" -}}
{{- $msys2 := "" -}}

{{- $bash := "" -}}
{{- $fish := "" -}}
{{- $zsh := "" -}}

{{- if $isWindows -}}
{{- $nu = lookPath "nu.exe" -}}
{{- $pwsh = lookPath "pwsh.exe" -}}
{{- $powershell = lookPath "powershell.exe" -}}
{{- $cmd = lookPath "cmd.exe" -}}
{{- $gitBash = lookPath "git-bash.exe" -}}
{{- $gitSh = lookPath "sh.exe" -}}
{{- $msys2 = lookPath "ucrt64.cmd" -}}
{{- else -}}
{{- $nu = lookPath "nu" -}}
{{- $bash = lookPath "bash" -}}
{{- $fish = lookPath "fish" -}}
{{- $zsh = lookPath "zsh" -}}
{{- end -}}

local options = {
  default_prog = {},
  launch_menu = {},
}

{{- if $isWindows }}

{{- if $nu }}
options.default_prog = { {{ $nu | toJson }} }
{{- else if $pwsh }}
options.default_prog = { {{ $pwsh | toJson }}, "-NoLogo" }
{{- else if $powershell }}
options.default_prog = { {{ $powershell | toJson }} }
{{- else if $cmd }}
options.default_prog = { {{ $cmd | toJson }} }
{{- end }}

options.launch_menu = {
  {{- if $nu }}
  { label = "Nushell", args = { {{ $nu | toJson }} } },
  {{- end }}

  {{- if $pwsh }}
  { label = "PowerShell Core", args = { {{ $pwsh | toJson }}, "-NoLogo" } },
  {{- end }}

  {{- if and $gitBash $gitSh }}
  { label = "Git Bash", args = { {{ $gitSh | toJson }}, "--login", "-i" } },
  {{- end }}

  {{- if $cmd }}
  { label = "Command Prompt", args = { {{ $cmd | toJson }} } },
  {{- end }}

  {{- if $powershell }}
  { label = "PowerShell Desktop", args = { {{ $powershell | toJson }} } },
  {{- end }}

  {{- if $msys2 }}
  { label = "Msys2", args = { {{ $msys2 | toJson }} } },
  {{- end }}
}

{{- else }}

{{- if $zsh }}
options.default_prog = { {{ $zsh | toJson }}, "-l" }
{{- else if $fish }}
options.default_prog = { {{ $fish | toJson }}, "-l" }
{{- else if $nu }}
options.default_prog = { {{ $nu | toJson }}, "-l" }
{{- else if $bash }}
options.default_prog = { {{ $bash | toJson }}, "-l" }
{{- end }}

options.launch_menu = {
  {{- if $bash }}
  { label = "Bash", args = { {{ $bash | toJson }}, "-l" } },
  {{- end }}

  {{- if $fish }}
  { label = "Fish", args = { {{ $fish | toJson }}, "-l" } },
  {{- end }}

  {{- if $nu }}
  { label = "Nushell", args = { {{ $nu | toJson }}, "-l" } },
  {{- end }}

  {{- if $zsh }}
  { label = "Zsh", args = { {{ $zsh | toJson }}, "-l" } },
  {{- end }}
}

{{- end }}

return options

{{/* vim: set ft=lua.chezmoitmpl: */}}
