{
  "Shell": 1,
  "ReplaceWinR": true,
  "CloseShellAfterPress": false,
  "LeaveShellOpen": false,
  "RunAsAdministrator": false,
  "UseWindowsTerminal": true,
  "ShowOnlyMostUsedCMDs": false,
  "ShowOnlyMostUsedCMDsNumber": 5,
  "CommandHistory": {
    "sysdm.cpl": 14,
    "systempropertiesprotection": 3,
    "gpedit.msc": 1,
    "cmd": 2,
    "control": 2,
    "glazewm query window": 1,
    "glazewm query windows": 1,
    "espanso restart": 2,
    "taskschd.msc": 6,
    "regedit": 1,
    "rundll32 sysdm.cpl,EditEnvironmentVariables": 1
  }
}