require("starship"):setup()

require("easyjump"):setup({
	icon_fg = "#94e2d5", -- color for hint labels
	first_key_fg = "#45475a", -- color for first char of double-key hints
})

require("full-border"):setup {
  -- Available values: ui.Border.PLAIN, ui.Border.ROUNDED
  type = ui.Border.ROUNDED,
}

-- require("duckdb"):setup({
--   mode = "summarized",            -- 默认模式："standard" 或 "summarized"
--   cache_size = 1000,              -- 缓存行数
--   row_id = "dynamic",             -- 是否显示行 ID: true/false/"dynamic"
--   minmax_column_width = 21,       -- 摘要视图中最小/最大列的宽度
--   column_fit_factor = 10.0        -- 列宽自适应因子
-- })

{{- if ne .chezmoi.os "windows" }}
require("recycle-bin"):setup()
{{- end }}

require("projects"):setup({
	event = {
		save = {
			enable = true,
			name = "project-saved",
		},
		load = {
			enable = true,
			name = "project-loaded",
		},
		delete = {
			enable = true,
			name = "project-deleted",
		},
		delete_all = {
			enable = true,
			name = "project-deleted-all",
		},
		merge = {
			enable = true,
			name = "project-merged",
		},
	},
	save = {
		method = "lua", -- yazi | lua
		yazi_load_event = "@projects-load", -- event name when loading projects in `yazi` method
    {{- if eq .chezmoi.os "windows" }}
		lua_save_path = "{{ .chezmoi.homeDir }}/AppData/Roaming/yazi/state/projects.json", -- path of saved file in `lua` method, comment out or assign explicitly
    {{- else }}
    lua_save_path = "{{ .chezmoi.homeDir }}/.local/state/yazi/projects.json", -- path of saved file in `lua` method, comment out or assign explicitly
    {{- end }}
		-- default value:
		-- windows: "%APPDATA%/yazi/state/projects.json"
		-- unix: "~/.local/state/yazi/projects.json"
	},
	last = {
		update_after_save = true,
		update_after_load = true,
		update_before_quit = false,
		load_after_start = false,
	},
	merge = {
		event = "projects-merge",
		quit_after_merge = false,
	},
	notify = {
		enable = true,
		title = "Projects",
		timeout = 3,
		level = "info",
	},
})
