{{- $hasSoffice := lookPath "soffice" -}}
{{- $hasStarship := lookPath "starship" -}}
{{- $hasMediaInfo := lookPath "mediainfo" -}}
{{- $hasDuckDB := lookPath "duckdb" -}}
{{- $hasRecycleBinCli := lookPath "trash-list" -}}
{{- $hasTrashy := false -}}
{{- if eq .chezmoi.os "windows" -}}
{{-   $hasTrashy = lookPath "trash" -}}
{{- else -}}
{{-   $hasTrashy = lookPath "trashy" -}}
{{- end -}}
{{- $hasSqlite3 := lookPath "sqlite3" -}}
{{- $hasSudo := lookPath "sudo" -}}

[[plugin.deps]]
use = "yazi-rs/plugins:smart-filter"

[[plugin.deps]]
use = "yazi-rs/plugins:zoom"

[[plugin.deps]]
use = "cap153/tv"

[[plugin.deps]]
use = "KKV9/compress"

{{ if $hasStarship }}
[[plugin.deps]]
use = "Rolv-Apneseth/starship"
{{ end }}

[[plugin.deps]]
use = "mikavilpas/easyjump.yazi:easyjump"

{{ if $hasSoffice }}
[[plugin.deps]]
use = "prettycation/office"
{{-   if eq .chezmoi.os "windows" }}
rev = "fix/windows-compatibility"
{{-   end }}
{{ end }}

[[plugin.deps]]
use = "MasouShizuka/projects"

[[plugin.deps]]
use = "DreamMaoMao/searchjump"

[[plugin.deps]]
use = "yazi-rs/plugins:full-border"

{{ if $hasMediaInfo }}
[[plugin.deps]]
use = "boydaihungst/mediainfo"
{{ end }}

{{ if $hasDuckDB }}
[[plugin.deps]]
use = "prettycation/duckdb"
{{- end }}

{{ if or $hasTrashy $hasRecycleBinCli }}
{{- $trashPlugin := "" -}}
{{- if $hasRecycleBinCli -}}
{{- $trashPlugin = "uhs-robert/recycle-bin" -}}
{{- else if $hasTrashy -}}
{{- $trashPlugin = "prettycation/trashbox" -}}
{{- end }}
[[plugin.deps]]
use = {{ $trashPlugin | quote }}
{{ end }}

{{ if $hasSqlite3 }}
[[plugin.deps]]
use = "AminurAlam/yazi-plugins:preview-sqlite"
{{- end }}

{{ if $hasSudo }}
[[plugin.deps]]
use = "prettycation/sudo"
{{- end }}

[flavor]
deps = []
{{/* vim: set ft=toml.chezmoitemplate: */}}
