[[plugin.deps]]
use = "yazi-rs/plugins:smart-filter"
rev = "1962818"
hash = "c8695b60cdf205d9ee71efcba4fd40af"

[[plugin.deps]]
use = "yazi-rs/plugins:zoom"
rev = "1962818"
hash = "95b6348b374ab93067073759987d84ce"

[[plugin.deps]]
use = "cap153/tv"
rev = "b6b1f12"
hash = "781c565bf90759ef5f72e648cf1fb6f8"

[[plugin.deps]]
use = "Rolv-Apneseth/starship"
rev = "eca1861"
hash = "158f863f60b43d077fef3b91e83d6087"

[[plugin.deps]]
use = "mikavilpas/easyjump.yazi:easyjump"
rev = "c903a29"
hash = "56538d923a9bdca179e681812183578e"

[[plugin.deps]]
use = "prettycation/office"
rev = "fix/windows-compatibility"
hash = "a67a77fbc92af6b70aa1b6217869eaa7"

[[plugin.deps]]
use = "MasouShizuka/projects"
rev = "198c2ba"
hash = "7cf3d9f24e624d49a75960d16b1b8000"

[[plugin.deps]]
use = "DreamMaoMao/searchjump"
rev = "cab627c"
hash = "4df5f3783cbbfed60466f1aa9bc45b5e"

[flavor]
deps = []
