[[plugin.deps]]
use = "yazi-rs/plugins:smart-filter"

[[plugin.deps]]
use = "yazi-rs/plugins:zoom"

[[plugin.deps]]
use = "cap153/tv"

[[plugin.deps]]
use = "Rolv-Apneseth/starship"

[[plugin.deps]]
use = "mikavilpas/easyjump.yazi:easyjump"

{{- if ne .chezmoi.os "linux" }}
[[plugin.deps]]
use = "prettycation/office"
{{-   if eq .chezmoi.os "windows" }}
rev = "fix/windows-compatibility"
{{-   end }}
{{- end }}

[[plugin.deps]]
use = "MasouShizuka/projects"

[[plugin.deps]]
use = "DreamMaoMao/searchjump"

[[plugin.deps]]
use = "yazi-rs/plugins:full-border"

[[plugin.deps]]
use = "boydaihungst/mediainfo"

[[plugin.deps]]
use = "wylie102/duckdb"

{{- if ne .chezmoi.os "windows" }}
[[plugin.deps]]
use = "uhs-robert/recycle-bin"
{{- end }}

[flavor]
deps = []
