[Settings]
language=zh-CN
launchAtStartup=1
inputMethodDetectionMode=general
updateCheckInterval=1440
silentUpdate=0
runCodeWithAdmin=1
inputMethodBaseState=0
inputMethodDetectionTimeout=200
inputMethodSwitchState={LShift}
keepCapsLockWhenStateSwitch=0
exportState=0
hotkeyShowCode=
cursorActive=1
overlayActive=1
overlayCornerPreference=2
overlayAnimation=2
overlayShowOnWindowChange=0
overlayHideDelay=2000
overlayTextFont=霞鹜文楷等宽 GB Medium
overlayEdgeStyle=0
symbolType=0
symbolTextFont=Microsoft YaHei
symbolTextEdgeStyle=0
symbolTextWeight=700
symbolTextTransparent=222
symbolShapeEdgeStyle=0
symbolTextCornerPreference=3
symbolShapeCornerPreference=3
symbolOffsetBaseY=below
symbolNearCursorActive=0
symbolNearCursorWindow=all
symbolNearCursorOffsetX=0
symbolNearCursorOffsetY=30
symbolHideDelay=0
menuAnimation=1
pollInterval=20
iconRunning=default-app.png
iconPaused=default-app-paused.png
symbolJABActive=0
enableKeyStats=0
enableCustomTrayTip=0
inputMethodDetectionRule=
overlayTextCN=中文状态
overlayBgColorCN=0xCDD6F4
overlayTextColorCN=0x181825
overlayTextSizeCN=22
overlayTextWeightCN=700
overlayBasePositionCN=center
overlayOffsetXCN=0
overlayOffsetYCN=0
overlayTransparentCN=222
symbolPicturePathCN=default-triangle-red.png
symbolPictureOffsetXCN=-40
symbolPictureOffsetYCN=-5
symbolPictureWidthCN=15
symbolPictureHeightCN=15
symbolShapeColorCN=0xFF0000
symbolShapeOffsetXCN=0
symbolShapeOffsetYCN=10
symbolShapeWidthCN=9
symbolShapeHeightCN=9
symbolShapeTransparentCN=222
symbolTextContentCN=中
symbolTextBgColorCN=0xFF0000
symbolTextColorCN=0xFFFFFF
symbolTextSizeCN=22
symbolTextOffsetXCN=0
symbolTextOffsetYCN=0
hotkeyCN=
overlayTextEN=英文状态
overlayBgColorEN=0x1E1E2E
overlayTextColorEN=0xCDD6F4
overlayTextSizeEN=22
overlayTextWeightEN=700
overlayBasePositionEN=center
overlayOffsetXEN=0
overlayOffsetYEN=0
overlayTransparentEN=222
symbolPicturePathEN=default-triangle-blue.png
symbolPictureOffsetXEN=-40
symbolPictureOffsetYEN=-5
symbolPictureWidthEN=15
symbolPictureHeightEN=15
symbolShapeColorEN=0x0000FF
symbolShapeOffsetXEN=0
symbolShapeOffsetYEN=10
symbolShapeWidthEN=9
symbolShapeHeightEN=9
symbolShapeTransparentEN=222
symbolTextContentEN=英
symbolTextBgColorEN=0x0000FF
symbolTextColorEN=0xFFFFFF
symbolTextSizeEN=22
symbolTextOffsetXEN=0
symbolTextOffsetYEN=0
hotkeyEN=
overlayTextCaps=大写锁定
overlayBgColorCaps=0x008000
overlayTextColorCaps=0xFFFFFF
overlayTextSizeCaps=22
overlayTextWeightCaps=700
overlayBasePositionCaps=center
overlayOffsetXCaps=0
overlayOffsetYCaps=0
overlayTransparentCaps=222
symbolPicturePathCaps=default-triangle-green.png
symbolPictureOffsetXCaps=-40
symbolPictureOffsetYCaps=-5
symbolPictureWidthCaps=15
symbolPictureHeightCaps=15
symbolShapeColorCaps=0x008000
symbolShapeOffsetXCaps=0
symbolShapeOffsetYCaps=10
symbolShapeWidthCaps=9
symbolShapeHeightCaps=9
symbolShapeTransparentCaps=222
symbolTextContentCaps=大
symbolTextBgColorCaps=0x008000
symbolTextColorCaps=0xFFFFFF
symbolTextSizeCaps=22
symbolTextOffsetXCaps=0
symbolTextOffsetYCaps=0
hotkeyCaps=
overlayTextJP=日文状态
overlayBgColorJP=0xCCCC00
overlayTextColorJP=0xFFFFFF
overlayTextSizeJP=22
overlayTextWeightJP=700
overlayBasePositionJP=center
overlayOffsetXJP=0
overlayOffsetYJP=0
overlayTransparentJP=222
symbolPicturePathJP=default-triangle-yellow.png
symbolPictureOffsetXJP=-40
symbolPictureOffsetYJP=-5
symbolPictureWidthJP=15
symbolPictureHeightJP=15
symbolShapeColorJP=0xCCCC00
symbolShapeOffsetXJP=0
symbolShapeOffsetYJP=10
symbolShapeWidthJP=9
symbolShapeHeightJP=9
symbolShapeTransparentJP=222
symbolTextContentJP=日
symbolTextBgColorJP=0xCCCC00
symbolTextColorJP=0xFFFFFF
symbolTextSizeJP=22
symbolTextOffsetXJP=0
symbolTextOffsetYJP=0
hotkeyJP=
overlayTextKR=韩文状态
overlayBgColorKR=0x800080
overlayTextColorKR=0xFFFFFF
overlayTextSizeKR=22
overlayTextWeightKR=700
overlayBasePositionKR=center
overlayOffsetXKR=0
overlayOffsetYKR=0
overlayTransparentKR=222
symbolPicturePathKR=default-triangle-purple.png
symbolPictureOffsetXKR=-40
symbolPictureOffsetYKR=-5
symbolPictureWidthKR=15
symbolPictureHeightKR=15
symbolShapeColorKR=0x800080
symbolShapeOffsetXKR=0
symbolShapeOffsetYKR=10
symbolShapeWidthKR=9
symbolShapeHeightKR=9
symbolShapeTransparentKR=222
symbolTextContentKR=韩
symbolTextBgColorKR=0x800080
symbolTextColorKR=0xFFFFFF
symbolTextSizeKR=22
symbolTextOffsetXKR=0
symbolTextOffsetYKR=0
hotkeyKR=
cursorPathCN=Latte-Light
cursorPathEN=Mocha-Dark
cursorPathCaps=Mocha-Sapphire
cursorPathJP=default-yellow
cursorPathKR=default-purple
init=20260522160033
version-zip=3.3.0
overlayTextSize=22
overlayTextWeight=700
overlayTransparent=222
trayTipTemplate=【%appState%】InputTip - 输入法状态管理工具
keyStatsTemplate=%\n%【统计中】启动以来, 有效的按键输入次数: %keyCount%
[Window.IgnoreStateSwitch]
[Window.Symbol.Hide]
[Window.Symbol.Show]
[Window.AutoExit]
[Window.Symbol.NearCursor]
[Window.Symbol.CursorCapture]
[Window.AutoSwitch.CN]
[Window.AutoSwitch.EN]
2025-11-16-00:21:25.047=AutoHotkey64.exe:0:0:abgox-InputTip-Symbol-Window
2025-11-16-00:21:49.940=explorer.exe:1:0:Program Manager
2025-11-16-00:22:00.692=rustdesk.exe:1:0::
2025-11-16-00:22:05.270=yasb.exe:1:0:YasbBar
2025-11-16-00:23:57.271=msedge.exe:1:1:Microsoft? Edge
2025-11-16-00:27:19.100=Obsidian.exe:1:0:Obsidian
2025-11-16-11:06:21.399=Flow.Launcher.exe:1:0:Flow.Launcher
2026-05-22-16:17:31.394=wezterm-gui.exe:1:0::
[Window.AutoSwitch.Caps]
[Window.AutoSwitch.JP]
[Window.AutoSwitch.KR]
[Window.Symbol.Offset]
[Screen.Symbol.Offset]
