[Settings]
language=zh-CN
launchAtStartup=1
inputMethodDetectionMode=general
updateCheckInterval=1440
silentUpdate=0
runCodeWithAdmin=1
inputMethodBaseState=EN
inputMethodDetectionTimeout=200
keepCapsLockWhenStateSwitch=0
exportState=0
cursorActive=1
overlayActive=1
overlayCornerPreference=2
overlayAnimation=2
overlayShowOnWindowChange=0
overlayHideDelay=2000
overlayTextFont=霞鹜文楷等宽 GB Medium
overlayEdgeStyle=0
symbolNearCursorOffsetX=0
symbolNearCursorOffsetY=30
menuAnimation=1
pollInterval=20
iconRunning=default-app.png
iconPaused=default-app-paused.png
symbolJABActive=0
enableKeyStats=0
enableCustomTrayTip=0
inputMethodDetectionRule=
overlayTextCN=中文状态
overlayBgColorCN=0xCDD6F4
overlayTextColorCN=0x181825
overlayTextSizeCN=22
overlayTextWeightCN=700
overlayBasePositionCN=center
overlayOffsetXCN=0
overlayOffsetYCN=0
overlayTransparentCN=222
overlayTextEN=英文状态
overlayBgColorEN=0x1E1E2E
overlayTextColorEN=0xCDD6F4
overlayTextSizeEN=22
overlayTextWeightEN=700
overlayBasePositionEN=center
overlayOffsetXEN=0
overlayOffsetYEN=0
overlayTransparentEN=222
overlayTextCaps=大写锁定
overlayBgColorCaps=0x008000
overlayTextColorCaps=0xFFFFFF
overlayTextSizeCaps=22
overlayTextWeightCaps=700
overlayBasePositionCaps=center
overlayOffsetXCaps=0
overlayOffsetYCaps=0
overlayTransparentCaps=222
overlayTextJP=日文状态
overlayBgColorJP=0xCCCC00
overlayTextColorJP=0xFFFFFF
overlayTextSizeJP=22
overlayTextWeightJP=700
overlayBasePositionJP=center
overlayOffsetXJP=0
overlayOffsetYJP=0
overlayTransparentJP=222
hotkeyJP=
overlayTextKR=韩文状态
overlayBgColorKR=0x800080
overlayTextColorKR=0xFFFFFF
overlayTextSizeKR=22
overlayTextWeightKR=700
overlayBasePositionKR=center
overlayOffsetXKR=0
overlayOffsetYKR=0
overlayTransparentKR=222
hotkeyKR=
cursorPathCN=Latte-Light
cursorPathEN=Mocha-Dark
cursorPathCaps=Mocha-Sapphire
cursorPathJP=default-yellow
cursorPathKR=default-purple
init=20260522160033
version-zip="3.6.1"
overlayTextSize=22
overlayTextWeight=700
overlayTransparent=222
trayTipTemplate=【%appState%】InputTip - 输入法状态管理工具
keyStatsTemplate=%\n%【统计中】启动以来, 有效的按键输入次数: %keyCount%
caretSymbolType=0
caretSymbolTextFont=Microsoft YaHei
caretSymbolTextEdgeStyle=0
caretSymbolTextWeight=700
caretSymbolTextTransparent=222
caretSymbolShapeEdgeStyle=0
caretSymbolTextCornerPreference=3
caretSymbolShapeCornerPreference=3
caretSymbolOriginY=below
caretSymbolHideDelay=0
cursorSymbolType=0
caretSymbolPicturePathCN=default-triangle-red.png
caretSymbolShapeColorCN=0xFF0000
caretSymbolShapeTransparentCN=222
caretSymbolTextContentCN=中
caretSymbolTextBgColorCN=0xFF0000
caretSymbolTextSizeCN=22
caretSymbolPicturePathEN=default-triangle-blue.png
caretSymbolShapeColorEN=0x0000FF
caretSymbolShapeTransparentEN=222
caretSymbolTextContentEN=英
caretSymbolTextBgColorEN=0x0000FF
caretSymbolTextSizeEN=22
caretSymbolPicturePathCaps=default-triangle-green.png
caretSymbolShapeColorCaps=0x008000
caretSymbolShapeTransparentCaps=222
caretSymbolTextContentCaps=大
caretSymbolTextBgColorCaps=0x008000
caretSymbolTextSizeCaps=22
caretSymbolPicturePathJP=default-triangle-yellow.png
caretSymbolShapeColorJP=0xCCCC00
caretSymbolShapeTransparentJP=222
caretSymbolTextContentJP=日
caretSymbolTextBgColorJP=0xCCCC00
caretSymbolTextSizeJP=22
caretSymbolPicturePathKR=default-triangle-purple.png
caretSymbolShapeColorKR=0x800080
caretSymbolShapeTransparentKR=222
caretSymbolTextContentKR=韩
caretSymbolTextBgColorKR=0x800080
caretSymbolTextSizeKR=22
cursorSymbolShowMode=blacklist
[Window.AutoSwitch.JP]
[Window.AutoSwitch.KR]
[Window.Rule.2025-11-16-00:21:25.047]
process=AutoHotkey64.exe
condition=titleEqual
title=abgox-InputTip-Symbol-Window
trigger=switchStateEN-LShift
[Window.Rule.2025-11-16-00:21:49.940]
process=explorer.exe
title=Program Manager
trigger=switchStateEN-LShift
[Window.Rule.2025-11-16-00:22:00.692]
process=rustdesk.exe
title=:
trigger=switchStateEN-LShift
[Window.Rule.2025-11-16-00:22:05.270]
process=yasb.exe
title=YasbBar
trigger=switchStateEN-LShift
[Window.Rule.2025-11-16-00:23:57.271]
process=msedge.exe
title=Microsoft? Edge
trigger=switchStateEN-LShift
[Window.Rule.2025-11-16-00:27:19.100]
process=Obsidian.exe
title=Obsidian
trigger=switchStateEN-LShift
[Window.Rule.2025-11-16-11:06:21.399]
process=Flow.Launcher.exe
title=Flow.Launcher
trigger=switchStateEN-LShift
[Window.Rule.2026-05-22-16:17:31.394]
process=wezterm-gui.exe
title=:
trigger=switchStateEN-LShift
