{{ $paths := list }}

# -----------------------------------------------------------------
# 动态 PATH 设置
# -----------------------------------------------------------------

# 优先加载 Bob 安装的 Neovim
{{- if lookPath "bob" }}
export PATH="$HOME/.local/share/bob/nvim-bin:$PATH"
{{- end }}

{{- $paths := list -}}
{{- $homeDir := .chezmoi.homeDir -}}
{{- range $_, $relPath := list "bin" "go/bin" ".cargo/bin" ".local/bin" -}}
{{    $path := joinPath $homeDir $relPath -}}
{{-   if stat $path -}}
{{-     $paths = mustAppend $paths $path -}}
{{-   end -}}
{{- end -}}
{{- if $paths -}}

# 正常的家目录 bin 路径
export PATH={{ toStrings $paths | join ":" }}:$PATH
{{ end }}

# 把 path 和 PATH 标记成“去重变量”
typeset -U path PATH
{{- /* vim: set filetype=zsh: */}}
