{{ if .personal -}}
# -----------------------------------------------------------------
# 密钥与私有配置
# -----------------------------------------------------------------

# 从本地私有文件加载敏感信息
{{   if .github_token -}}
[[ -r "$ZDOTDIR/local/github-token.zsh" ]] && source "$ZDOTDIR/local/github-token.zsh"
{{   end -}}
{{ end -}}
{{- /* vim: set filetype=zsh: */}}
