[Mod]
LibraryFileName=taskbar-auto-hide-keyboard-only_2.3_429870.dll
Disabled=0
Include=explorer.exe
Exclude=
Architecture=x86-64
Version=2.3
SettingsChangeTime=1776416810

[Settings]
fullyHide=1
oldTaskbarOnWin11=0
mode=keyboardOnlyShowOnClick
showTemporarilyHotkey=Alt+Escape
toggleAlwaysShowHotkey=Alt+`
toggleAlwaysShowMouseEvent=disabled
showTemporarilyDurationMs=1000
winKeyAction=defaultWindowsBehavior
