{
  "LastIndexTime": "2026-02-25T10:35:27.2960568+08:00",
  "ProgramSources": [
    {
      "Location": "C:\\Users\\prettycation\\Desktop",
      "Name": "Desktop",
      "Enabled": true,
      "UniqueIdentifier": "c:\\users\\prettycation\\desktop"
    },
    {
      "Location": "F:\\\u76EE\u5F55",
      "Name": "\u76EE\u5F55",
      "Enabled": true,
      "UniqueIdentifier": "f:\\\u76EE\u5F55"
    }
  ],
  "DisabledProgramSources": [],
  "CustomSuffixes": [],
  "CustomProtocols": [],
  "BuiltinSuffixesStatus": {
    "exe": true,
    "appref-ms": true,
    "lnk": true
  },
  "BuiltinProtocolsStatus": {
    "steam": true,
    "epic": true,
    "http": false
  },
  "UseCustomSuffixes": false,
  "UseCustomProtocols": false,
  "EnableStartMenuSource": true,
  "EnableDescription": false,
  "HideAppsPath": true,
  "HideUninstallers": true,
  "EnableRegistrySource": true,
  "EnablePathSource": true,
  "EnableUWP": true,
  "HideDuplicatedWindowsApp": true
}