{{- $hasemmylua_ls := lookPath "emmylua_ls" -}}
{{ if not $hasemmylua_ls }}
{
  "neodev": {
    "library": {
      "enabled": true,
      "plugins": true
    }
  },
  "neoconf": {
    "plugins": {
      "lua_ls": {
        "enabled": true
      }
    }
  }
}
{{ end }}
