[Mod]
LibraryFileName=chrome-wheel-scroll-tabs_1.3.1_120190.dll
Disabled=0
Include=chrome.exe|msedge.exe|opera.exe|brave.exe|*\YandexBrowser\Application\browser.exe|thorium.exe
Exclude=
Architecture=
Version=1.3.1
SettingsChangeTime=1776409033

[Settings]
reverseScrollingDirection=0
horizontalScrolling=0
scrollAreaLimit.pixelsFromTop=0
scrollAreaLimit.pixelsFromLeft=0
throttleMs=0
