[Mod]
LibraryFileName=taskbar-auto-hide-keyboard-only_2.3_938466.dll
Disabled=0
Include=explorer.exe
Exclude=
Architecture=x86-64
Version=2.3
SettingsChangeTime=1781579887

[Settings]
mode=keyboardOnlyShowOnClick
showTemporarilyHotkey=Alt+Escape
toggleAlwaysShowHotkey=Alt+`
toggleAlwaysShowMouseEvent=disabled
showTemporarilyDurationMs=1000
winKeyAction=defaultWindowsBehavior
oldTaskbarOnWin11=0
