[Mod]
LibraryFileName=taskbar-on-top_1.1.6_383238.dll
Disabled=0
Include=explorer.exe|StartMenuExperienceHost.exe
Exclude=
Architecture=x86-64
Version=1.1.6
SettingsChangeTime=1765532263

[Settings]
taskbarLocation=top
taskbarLocationSecondary=sameAsPrimary
runningIndicatorsOnTop=0
startMenuAnimationAdjust=0
