
// -------------------------------------------------------------------
// 显示器 (Output) 配置
// 您可以按名称配置显示器, 名称可以通过在 niri 实例中运行 `niri msg outputs` 找到。
// 内置的笔记本屏幕通常被称为 "eDP-1"。
// 在 Wiki 上查找更多信息:
// https://yalter.github.io/niri/Configuration:-Outputs
// 记得通过移除 "/-" 来取消节点的注释！
// -------------------------------------------------------------------
/-output "eDP-1" {
    // 取消注释此行以禁用此显示器。
    // off

    // 设置显示器的分辨率和刷新率(可选)。
    // 格式为 "<宽度>x<高度>" 或 "<宽度>x<高度>@<刷新率>"。
    // 如果省略刷新率, niri 将选择该分辨率下的最高刷新率。
    // 如果完全省略或模式无效, niri 将自动选择一个模式。
    // 在 niri 实例中运行 `niri msg outputs` 来列出所有显示器及其支持的模式。
    mode "1920x1080@120.030"

    // 您可以使用整数或小数缩放, 例如 1.5 代表 150% 缩放。
    scale 2

    // transform 允许逆时-时针旋转显示器, 有效值为:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 和 flipped-270。
    transform "normal"

    // 显示器在全局坐标空间中的位置。
    // 这会影响方向性的显示器操作 (如 "focus-monitor-left") 和光标移动。
    // 光标只能在直接相邻的显示器之间移动。
    // 定位时必须考虑显示器的缩放和旋转:
    // 显示器尺寸以逻辑像素(或缩放后像素)计算。
    // 例如, 一个 3840×2160 分辨率、缩放为 2.0 的显示器, 其逻辑尺寸为 1920×1080,
    // 所以要把另一个显示器放在它的右边, x 坐标应设为 1920。
    // 如果位置未设置或导致重叠, 显示器将被自动放置。
    position x=1280 y=0
}
