{{- $hasCode := lookPath "code" -}}

{{- $cond := "" -}}

{{- if $hasCode }}
{{- $cond = "-- 在 vscode 中加载\n\t\tcond = true,\n\t\t"}}
{{- end }}
return {
  {
    "kkew3/jieba.vim",
    event = "User FileReady",
    {{ $cond -}}
    tag = "v2.1.0",
    build = ":call jieba_vim#install()",
    init = function()
      vim.g.jieba_vim_lazy = 1
      vim.g.jieba_vim_keymap = 1
    end,
  },
}
{{/* vim: set filetype=lua.chezmoitmpl: */}}
